<div class="my-5">
    <h1 class="text-center mb-5">게시판</h1>
    
    <div class="row align-items-center mb-3">
        <div class="col-8 col-md-6 col-lg-4">
            <form name="frm" class="input-group">
                <input name="word" class="form-control border-dark" placeholder="작성자, 제목, 내용">
                <button class="btn btn-success border-dark">검색</button>
            </form>
        </div>
        <div class="col text-end">
            <button id="btn-write" class="btn btn-primary">글쓰기</button>
        </div>
    </div>
    
    <table id="tbl" class="table table-bordered border-dark table-striped table-hover text-center align-middle"></table>
    
    <div class="text-center my-4">
        <button class="btn btn-info btn-sm px-3 btn-first">맨앞</button>
        <button class="btn btn-primary btn-sm px-3 btn-prev">이전</button>
        <span class="page_info px-3 fw-bold align-middle">1/10</span>
        <button class="btn btn-primary btn-sm px-3 btn-next">다음</button>
        <button class="btn btn-info btn-sm px-3 btn-end">맨뒤</button>
    </div>
    
    <script id="temp" type="text/x-handlebars-template">
        <thead class="table-dark text-center">
            <tr>
                <td style="width: 10%;">번호</td>
                <td style="width: 50%;">제목</td>
                <td style="width: 15%;">작성자</td>
                <td style="width: 25%;">작성일</td>
            </tr>
        </thead>
        <tbody>
            {{#each .}}
                <tr>
                    <td>{{ID}}</td>
                    <td class="text-start ps-3">{{TITLE}}</td>
                    <td>{{SNAME}}</td>
                    <td>{{FMT_DATE}}</td>
                </tr>
            {{/each}}
        </tbody>
    </script>
</div>

<script>
    let page = 1;
    let size = 5;
    let last = 0;
    let word = "";
    
    getList();

    // [글쓰기 버튼 이벤트]
    $("#btn-write").on("click", function(){
        // 1. 누락되었던 scode 값을 세션스토리지에서 실시간으로 가져옵니다.
        const scode = sessionStorage.getItem("scode");
        
        if(scode){
            location.href = "/posts/insert";
        } else {
            // 비로그인 시 타겟 저장 후 로그인 창으로 리다이렉트
            sessionStorage.setItem("target", "/posts/insert");
            location.href = "/users/login"; // 경로 슬래시(/) 보완
        }
    });

    // [검색 폼 이벤트]
    // 2. 정석적인 제이쿼리 선택자로 변경하여 표준성 확보
    $("form[name='frm']").on("submit", function(e){
        e.preventDefault();
        word = $("input[name='word']").val(); // 값 추출 방식 정석화
        page = 1; // 검색 결과는 무조건 1페이지부터
        getList();
    });

    // [페이징 버튼 이벤트들]
    $(".btn-first").on("click", function(){
        page = 1;
        getList();
    });

    $(".btn-prev").on("click", function(){
        page--;
        getList();
    });
    
    $(".btn-next").on("click", function(){
        page++;
        getList();
    });
    
    $(".btn-end").on("click", function(){
        page = last;
        getList();
    });

    function getList(){
        $.ajax({
            type: "get",
            url: "/posts/list.json",
            data: { page, size, word },
            success: function(data){
                console.log(data);
                const temp = Handlebars.compile($("#temp").html());
                $("#tbl").html(temp(data.list));

                last = Math.ceil(data.count / size) || 1;
                $(".page_info").html(`${page}/${last}`);
                
                // 첫 페이지 잠금
                if(page == 1) {
                    $(".btn-first").attr("disabled", true);
                    $(".btn-prev").attr("disabled", true);
                } else {
                    $(".btn-first").attr("disabled", false);
                    $(".btn-prev").attr("disabled", false);
                }
                
                // 마지막 페이지 잠금
                if(page == last) {
                    $(".btn-next").attr("disabled", true);
                    $(".btn-end").attr("disabled", true);
                } else {
                    $(".btn-next").attr("disabled", false);
                    $(".btn-end").attr("disabled", false);
                }
            },
            error: function() {
                alert("게시판 데이터를 수신하는 중 오류가 발생했습니다.");
            }
        });
    }
</script>